<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>


  <section id="main">
    <div class="form-group">
      <div class="text_group">
        <p id="validetion_deactector"></p>
        <span id="suggestion_text"></span>
      </div>
      <input type="text" name="text" id="searchName" placeholder="input city name">
    </div>

    <button id="myBtn" type="submit">Submit</button>

    <ul id="foo">

    </ul>
  </section>


  <!-- <input id="getxlxs" type="file" accept=".xls,.xlsx"> -->

  <!-- <button>ADD</button>
  <section>
    <form action="/add_catch_hook" method="post">
      <input type="text" placeholder="input you zapier Catch Hook url" name="catch_url" id="catch_url">
      <input type="submit" value="ADD">
    </form>
  </section> -->
  



  <script src="js/template.js"></script>
</body>

</html>